*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(135deg,#ffb6e6,#ffcce6,#ffffff);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:380px;
    min-height:700px;
    background:#ffffff;
    border-radius:40px;
    padding:25px;
    box-shadow:
        0 0 0 8px #ff69b4,
        0 0 0 14px #ffffff,
        0 15px 40px rgba(255,105,180,0.4);
    overflow:hidden;
}

.speaker{
    width:80px;
    height:6px;
    background:#ff69b4;
    border-radius:20px;
    margin:0 auto 15px;
}

h1{
    text-align:center;
    color:#ff1493;
    margin-bottom:20px;
}

h2{
    color:#ff69b4;
    margin:15px 0 8px;
    font-size:18px;
}

input, select{
    width:100%;
    padding:10px;
    margin:5px 0;
    border-radius:12px;
    border:2px solid #ffb6e6;
    outline:none;
}

input:focus{
    border-color:#ff1493;
}

button{
    padding:8px 12px;
    border:none;
    border-radius:20px;
    background:#ff69b4;
    color:white;
    cursor:pointer;
    margin:3px 0;
    transition:0.3s;
}

button:hover{
    background:#ff1493;
}

.task{
    background:#fff0f6;
    border-left:6px solid #ff69b4;
    padding:10px;
    margin:8px 0;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.task.done{
    text-decoration:line-through;
    opacity:0.6;
}

.stat{
    margin:5px 0;
    color:#ff1493;
    font-weight:bold;
}

@media(max-width:400px){
    .container{
        width:95%;
        border-radius:25px;
    }
}
